.bullets {
  display: block;
  @media (min-width: $tablet-width) {
    display: $display-f;
    padding: $padding-default;
  }
}

.bullet {
  padding-top: 60px;
  padding-bottom: 0;
  @media (min-width: $desktop-width) {
    padding-top: 94px;
  }

  &__main {
    margin-bottom: 30px;
    @media (min-width: $tablet-width) {
      display: $display-f;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
    }

    @media (min-width: $desktop-width) {
      padding: $padding-default;
    }
  }
  &__item {
    width: 450px;
    @media (max-width: $tablet-width) {
      margin-top: 30px;
    }
    @media (min-width: $tablet-width) {
      width: 354px;
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }

    @media (min-width: $desktop-width) {
      width: 270px;

      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &__icon {
    height: 120px;
    width: 450px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;

    background-color: $color-bullet-hero;
    border-radius: $border-radius-max;

    @media (min-width: $tablet-width) {
      width: 354px;
    }

    @media (min-width: $desktop-width) {
      width: 270px;
    }
  }

  &__icon:not(:first-child) {
    margin-right: 30px;
  }

  &__title {
    @media (max-width: $tablet-width) {
      text-align: $text-align;
    }
    margin-top: 0;
    margin-bottom: 10px;

    font-family: $body-font;
    font-weight: $font-weight-bold;
    font-size: $font-size-mini;
    line-height: $line-height-hight;

    color: $title-text-color;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;

    font-family: $body-font;
    font-weight: $font-weight-thin;
    font-size: $font-size-mini;
    line-height: $line-height-hight;

    color: $primary-text-color;
  }
}
