.project {
  display: $display-f;
  flex-wrap: wrap;

  &__list {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid $border-color;
  }
  &__list:nth-child(3n) {
    margin-right: 0;
  }

  &__list:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &__card {
    transition: box-shadow $time $cubic;
  }

  &__card:hover,
  &__card:focus {
    display: $display-b;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__thumb {
    position: $position-r;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__overlay {
    position: $position-a;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-color: $project-overlay-bgcolor;

    transform: translateY(100%);

    transition: transform $time $cubic;
  }

  &__card:hover &__overlay,
  &__card:focus &__overlay {
    transform: translateY(0);
  }

  &__text-overlay {
    position: $position-a;
    margin: 0;
    left: 24px;
    right: 24px;
    bottom: 63px;
    justify-content: $justify-content;

    font-family: $body-font;
    font-weight: $font-weight-thin;
    font-size: $font-size-regular;
    line-height: $line-height-semihight;
    letter-spacing: $letter-spacing-mid;

    color: $main-color;
  }

  &__item {
    padding: 20px 24px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4px;

    font-family: $body-font;
    font-weight: $font-weight-bold;
    font-size: $font-size-regular;
    line-height: $line-height-hight;

    letter-spacing: $letter-spacing-max;

    color: $title-text-color;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;

    font-family: $body-font;
    font-weight: $font-weight-thin;
    font-size: $font-size-normal;
    line-height: $line-height-huge;

    letter-spacing: $letter-spacing-mid;

    color: $primary-text-color;
  }
}
